.header__logo {
    width: 142px;
    height: 33px;
    padding-top: 45px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 920px) {
    .header__logo {
      padding-left: 35px;
    }
  }
  @media screen and (max-width: 400px) {
    .header__logo {
      width: 104px;
      height: 24px;
      padding-top: 28px;
      padding-bottom: 32px;
      padding-left: 27px;
    }
  }

