.popup__button-close {
  align-self: flex-end;
  width: 47px;
  height: 47px;
  background: transparent;
  border: none;
  background-image: url(../../../images/close-button.svg);
  background-size: cover;
  position: absolute;
  top: -37px;
  right: -37px;
  cursor: pointer;
}
.popup__button-close:hover {
  opacity: 0.6;
  transition: ease-out 0.5s;
}
.popup__button-close:focus {
  outline: none;
}
